---
title: Línea de la vivienda
description: Línea de la vivienda
layout: layouts/base.njk
---
<div class="flex items-center justify-center w-full min-h-screen">
  <div
    x-data="player()"
    x-init="getRandomStory($refs)"
    class="text-3xl mx-4"
  >
    <div x-text="text"></div>
    <audio
      x-ref="player"
      x-on:ended="getRandomStory($refs)"
    >
            Your browser does not support the
            <code>audio</code> element.
    </audio>
  </div>
</div>

<script>
  function player() {
    return {
      text: '',
      url: '',
      async getRandomStory(refs) {
        const player = refs.player;
        // Fetch data
        const data = await fetch("https://vkbgitwu.api.sanity.io/v2021-10-04/data/query/production?query=*[_type=='person']{age,city,state,country,stories[]->{recording{asset->{url}}}} ", {
          method: "GET",
          headers: {
            "Accept": "*/*"
          }
        });
        const dataJson = await data.json();
        const persons = dataJson.result;
        // Get random person
        const randomPerson = persons[Math.floor(Math.random() * persons.length)];
        // Assign random story
        randomPerson['randomStory'] = randomPerson['stories'][Math.floor(Math.random() * randomPerson['stories'].length)];
        // Form return object
        const text = `Estás escuhando una historia de una persona de ${randomPerson['city']}, ${randomPerson['state']} de ${randomPerson['age']} años de edad.`;
        const url = randomPerson['randomStory']['recording']['asset']['url'];
        const information = {
          text,
          url
        };
        console.log(information);
        this.text = text;
        player.src = url;
        player.play();

        return information;
      }
    }
  }
</script>